<!DOCTYPE html>
<html lang="en">
<!--
		Website:	Trip planner	
		Page:		Homepage.html
		Author:		Daniel Smith
		Date:		8 August 2021
-->
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trip Planner</title>

	<script src="../scripts/java.js"></script>
	<script src="../scripts/search.js"></script>
	<link rel="stylesheet" href="../static/css/styling.css"/>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js'></script>
</head>
<body>
	<header> <!--Header/Navbar Row for title and fast access to buttons-->
		<div>
			<p class="logo">The Great Trip Planner</p>
		</div>
	</header>

	<!--Main container where all content and useable features and tools are located-->
	<Main>
		<!--Trip Planner Console/Interface-->
		<div id="interface-area"> 
			<!--Destination search container-->
			<div id="search-background">

				<!--Search Bar that gives an dropdown list of chooseable destinations-->
				<input value="Search for a destination here" id="search" autocomplete="off" onkeyup="searchTOWN(this);">
				<!--Button which adds searched destination to literniary-->
				<button id="add-dest" onclick="">Add To List</button>

			</div>
			<!--Itenary list container-->
			<div id="trip-interface">

				<!--Defult containers and text for when no destinations have yet been added-->
				<div id="empty-dest-container">
					<p id="empty-dest-text">Oh it looks like you havent added any destinations to your list</p>
				</div>
				
				<!--Invisable placeholder for when a location is added JS will insert html with appropraite class,id names and the required infomation-->
				<p id="location-1"></p>
			</div>

			<div id="trip-controls">
				<div id="control-container"> <!--Creates new container for the Trip Controls-->
					<div class="control-row"> <!--Row for save and calc trip buttons-->
						<button class="control-button" id="save-button" onclick="saveButton_click()">Save</button>
						<button class="control-button" id="calc-trip-button" onclick="calctripButton_click()">Calculate Trip</button>
						<button class="control-button" id="reset-button" onclick="resetButton_click()">Reset</button>
						<button class="control-button" id="exit-button" onclick="exitButton_click()">Exit</button>
					</div>
					<div class="control-row"> <!--Row for Automatic Info Fields-->
						<div class="calc-card">
							<p id="dist">PlaceHolder</p>
						</div>
						<div class="calc-card">
							<p id="driving-time">PlaceHolder</p>
						</div>
						<div class="calc-card">
							<p id="no-destinations">PlaceHolder</p>
						</div>
					</div>
				</div>
				
				
				<!--
					1.Save Button (as json)
					2.Calculate Trip Button, Opens field with trip info + map with locations + trip alersts.
					3.Auto calculating: Total Distance, Driving Time and no of destinations fields
				-->
			</div>
			<div id="fuel-calc">
				<fieldset>
					<legend>Fuel Calculator</legend>
					<p><label for="fuel-econ">Fuel Economy:</label><input id="fuel-econ" type="number" value="9.50"></p>
					<p><label for="fuel-type">Fuel Type:</label>
						<select id="fuel-type" name="fuel-type">
							<option value="1">Petrol 91</option>
							<option value="2">Petrol 97</option>
							<option value="3">Diesel</option>
							<option value="4">Electric</option>
						</select>
					</p>
					<p><label for="fuel-dist">Distance Travelled:</label><input id="fuel-dist" type="number" value="0"></p>
				</fieldset>
				<button id="calc-button" onclick="fuelCost_click()">FIND YOUR COST</button>
				<p id="fuel-result">DEFULT</p>


				<!--
					1. Fuel Type dropdown menu
					2. Fuel Economy Input field
					3. Calculate Fuel Cost (Given Distance from Trip Controls)
				-->
			</div>
			.
		</div>

		<div id="interactive-map"> <!--Interactive Map-->
			<div id='map'></div>
				<script>
				mapboxgl.accessToken = 'pk.eyJ1IjoiZGFubnlib3l6eno5IiwiYSI6ImNrcnp6cXZtNTAwMWkydXJ5NjhubXRqeHYifQ.GWer-z8j4EgLpuxK_6ddlQ';
				const map = new mapboxgl.Map({
				container: 'map', // container ID
				style: 'mapbox://styles/mapbox/streets-v11', // style URL
				center: [-74.5, 40], // starting position [lng, lat]
				zoom: 9 // starting zoom
				});
				</script>
		</div>
	</Main>
</body>
</html>
