<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trip Planner</title>

	<script src="../scripts/java.js"></script>
	<script src="../scripts/search.js"></script>
	<script src="../scripts/setup.js"></script>

	<link rel="stylesheet" href="../static/css/styling.css"/>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js'></script>
</head>
<body>
	<header> <!--Header/Navbar Row for title and fast access to buttons-->
		<div>
			<p class="logo">The Great Trip Planner</p>
		</div>
	</header>

	<!--Main container where all content and useable features and tools are located-->
	<Main>
		<!--Trip Planner Console/Interface-->
		<div id="interface-area"> 
			<!--Destination search container-->
			<div id="search-background">
				<input id="search" autocomplete="off">
				<button id="add-button">Add To List</button>
			</div>

			<!--Itenary list container-->
			<div id="trip-interface">
					<div>
						<p>Destination List</p>
						<ol id="destination-list">
						</ol>
						<p id="final-location"></p>								
					</div>
			</div>

			<!--Trip controls-->
			<div id="trip-controls">
				<div id="control-container"> <!--Creates new container for the Trip Controls-->
					<div class="control-row"> <!--Row for save and calc trip buttons-->
						<button class="control-button" id="remove-button">Remove From List</button>
						<button class="control-button" id="save-button">Save Trip</button>
						<button class="control-button" id="load-button">Load Trip</button>
						<button class="control-button" id="reset">Reset</button> <!--Reset button which resets the destination lists-->
						<button class="control-button" id="exit">Exit</button>
					</div>

					<div class="control-row"> <!--Row for Automatic Info Fields-->
						<div>
							<p>The Total Trip Distance is:</p><p id="trip-distance"></p>
						</div>
					</div>
				</div>

			</div>
			<!--Fuel Calculation Code-->
			<div id="fuel-calc"> 
					<p><label for="fuel-econ">Fuel Economy:</label><input id="fuel-econ" type="number" value="9.50"></p>
					<p><label for="fuel-type">Fuel Type:</label>
						<select id="fuel-type" name="fuel-type">
							<option value="1">Petrol 91</option>
							<option value="2">Petrol 95/96</option>
							<option value="3">Diesel</option>
							<option value="4">Electric</option>
						</select>
					</p>
					<p><label for="fuel-dist">Distance Travelled:</label><input id="fuel-dist" type="number" value="0"></p>
				<button id="calc-button">FIND YOUR COST</button>
				<p>Fuel Cost:</p><p id="fuel-result"></p>
			</div>
			.
		</div> 
		<div id="interactive-map"> <!--Interactive Map-->
			<div id='map'></div>
				<script>
				mapboxgl.accessToken = 'pk.eyJ1IjoiZGFubnlib3l6eno5IiwiYSI6ImNrcnp6cXZtNTAwMWkydXJ5NjhubXRqeHYifQ.GWer-z8j4EgLpuxK_6ddlQ';
				const map = new mapboxgl.Map({
				container: 'map', // container ID
				style: 'mapbox://styles/mapbox/streets-v11', // style URL
				center: [-74.5, 40], // starting position [lng, lat]
				zoom: 9 // starting zoom
				});
				</script>
		</div>
	</Main>
</body>
</html>
