/*Generic Css for the Whole Document*/
* {
    box-sizing: border-box;
  }
body { 
    margin: 0; 
    padding: 0; 

}

/*CSS for the seperating columns*/

[class*="column-"] {
    float: left;
    padding: 0px;
}
.column-left{
    flex: 0 0 auto;
    width: 33.33333333%;
    min-width: 33.333333%;
}
.column-right{
    flex: 0 0 auto;
    width: 66.66666667%;
}

/* CSS for the Trip Planner Controls*/
.ControlContainer{
    color: aliceblue;
}
.ControlRow{
    color: aliceblue;
}
.ControlButton{
    color: aliceblue;
}
/* CSS for Automatic Infomation fields*/
.AutoCard{
    color: aliceblue;
}
.AutoRow{
    color: aliceblue;
}
/* CSS for the Rightside map */
.InteractiveMap{
    max-width: 66.66666667%; 
    height: auto;
}
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}
/* CSS for each section/row of the */
header{
    background-color: blueviolet
}
.Search{
    min-height: 15%;
    background-color: aqua;

}
.TripInterface{
    min-height:40%;
    background-color: aquamarine;
}
.TripControls{
    min-height: 10%;
    background-color: antiquewhite;
}
.FuelCalc{
    min-height: 20%;
    background-color: fuchsia;
}
