/*Generic Css for the Whole Document*/
* {
    box-sizing: border-box;
  }
body { 
    margin: 0; 
    padding: 0; 

}

/*CSS for the seperating columns*/

#interface-area{
    flex: 0 0 auto;
    width: 33.33333333%;
    min-width: 33.333333%;
    float: left;
    padding: 0px
}
#interactive-map{
    flex: 0 0 auto;
    width: 66.66666667%;
    float: left;
    padding: 0px
}

/* CSS for the Trip Planner Controls*/
#control-container{
    color: aliceblue;
}
.control-row{
    color: aliceblue;
}
.ControlButton{
    color: aliceblue;
}
/* CSS for Automatic Infomation fields*/
.CalcCard{
    color: aqua;
}
/* CSS for the Rightside map */
.InteractiveMap{
    max-width: 66.66666667%; 
    height: auto;
}
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}
/* CSS for each section/row of the */
header{
    background-color: blueviolet
}
#Search{
    min-height: 15%;
    background-color: aqua;

}
#trip-interface{
    min-height:40%;
    background-color: aquamarine;
}
#trip-controls{
    min-height: 10%;
    background-color: antiquewhite;
}
#fuel-calc{
    min-height: 20%;
    background-color: fuchsia;
}
